ul li {
    min-width: 200px;
}

.dragging li.ui-state-hover {
    min-width: 240px;
}

.dragging .ui-state-hover a {
    color: green !important;
    font-weight: bold;
}

th,
td {
    text-align: left;
    padding: 2px 4px;
    border: 1px solid;
}

tr:nth-child(odd) {
    background-color: rgb(198, 234, 245)
}

tr:nth-child(even) {
    background-color: azure
}

thead tr:first-child {
    background-color: rgb(132, 179, 194)
}

.connectedSortable tr,
.ui-sortable-helper {
    cursor: default;
}

.connectedSortable td:first-child {
    cursor: move;
    /* cursor: default; */
}

.connectedSortable tr:hover {
    background: #9cf5ff;
}

.ui-sortable-placeholder {
    background: yellow;
}


/* #content {
    width: 60%;
    margin: 1em auto;
} */

.schedule {
    width: 100%;
}

#help {
    display: none;
}

h1 {
    font-weight: 100
}


/* #Schedule tbody tr:last-child {
    background-color: gray;
} */